p, select {
    display: inline;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    max-width: 200px;
    margin-left: 5%;
    margin-right: 5%;
}

button {
    margin: 50px;
}

path {
    fill: black;
}

.page {
    background-image: linear-gradient(blue, aqua);
}

.element{
    display: inline-block;
    position: absolute;
    border-radius: 5px;
}

.validate {
    top: 70%;
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
}

.line {
    stroke:black; 
    stroke-width: 1.25px; 
    fill: none;
    marker-end: url(#arrow);
    position: absolute;
}

.container {
    text-align: justify;
    height: fit-content;
    text-justify: distribute-all-lines;
    -ms-text-justify: distribute-all-lines;
}

#message {
    display: inline;
    position: relative;
    top: 10%;
    right:0;
    left:0;
}

#random {
    top: 10%;
    right: 0;
    left: 0;
}

#RSAKey{
    top:10%;
    left:50%;
    right: 0;
}

#key{
    display: inline;
    top:25%;
    right:0;
    left:0;
}

#keys {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
}

#alg {
    top: 35%;
    right: 0;
    left: 0;
    overflow: hidden;
}

#hashMessage{
    top: 60%;
    right: 50%;
    left: 0;
}

#encMessage {
    top: 60%;
    right: 0;
    left: 0;
}

#encKey {
    top: 60%;
    left: 50%;
    right: 0;
}