.page {
    display: inline-flex;
    min-width: 100%;
    background-image: none;
}

.browser{
    width: 75%;
}

.dropzone {
    width: 25%;
}
.fileViewer {
    display: block;
    text-align: center;
    min-width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
